<div class="uk-section uk-section-muted">
    <div class="uk-container uk-container-small">
  <h1>Discover deep tech startups changing the world</h1>
  <%= link_to 'Sign Up', new_user_registration_path, class: "uk-button uk-button-primary" %>
 </div>
</div>
