<footer>
 <div class="shell">
 <div class="footer-nav">
  <div class="footer-cols">
   <div class="col">
    <h6>About Us</h6>
    <ul>
      <li>
        <a href="/company">Company</a>
      </li>

      <li>
        <a href="/industry_council">Industry Council</a>
      </li>

      <li>
        <a href="/channels">Channel Partners</a>
      </li>

      <li>
        <a href="/faq">FAQ</a>
      </li>

      <li>
        <a href="/press">Press</a>
      </li>
    </ul>
   </div>
   
   <div class="col">
    <h6>LEARN</h6>

    <ul>
      <li>
        <a href="/angel_resources">Angel Resources</a>
      </li>

      <li>
        <a href="/get_listed">Startup Resources</a>
      </li>

      <li>
        <a href="https://blog.propelx.com/">Blog</a>
      </li>

      <li>
        <a href="https://medium.com/dissected-by-propel-x">Medium</a>
      </li>
    </ul>
  </div>
   
   
   <div class="col">
    <h6>JOIN</h6>

    <ul>
      <li>
        <a href="/join">Investors</a>
      </li>

      <li>
        <a href="/get_listed">Startups</a>
      </li>

      <li>
        <a href="/share_expertise">Experts</a>
      </li>
    </ul>
  </div>
   
   
   <div class="col">
      <h6>LEGAL</h6>

      <ul>
        <li>
          <a href="/terms_of_use">Terms of Use</a>
        </li>

        <li>
          <a href="/privacy">Privacy Policy</a>
        </li>
      </ul>
    </div>
  
  </div>
  </div>
 </div>
</footer>